{% extends 'base.html' %}
{% block title_block %}Add ticket{% endblock %}
{% block content_block %}
{% load bugs_extras %}
{% if user.is_authenticated %}
    <form class="form" role='form' action="{% url 'add' %}" method="post">
      {% csrf_token %}
      <h1>Please add the ticket</h1>
      {% for field in form %}
        <div class="form-group">
        {% if field.errors %}
        <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        {{ field.errors }}</div>
        {% endif %}
        {{ field.label_tag }}
        {{ field|add_attributes:"form-control" }}
        </div>
      {% endfor %}
      <button class="btn btn-lg btn-primary">Submit</button>
    </form>
{% else %}
    <p>You should be logged in to add tickets!</p>
{% endif %}
{% endblock %}

